* {
  background-color: #051d3b;
}

.barra_navegacao {
  width:1376px;
  height:56px;
  margin:32px auto;
}

.logo {
  position: absolute;
  width: 145px;
  height: 56px;
  left: 0px;
  top: 12px;
}

.botao_buscar {
    display: flex; 
    flex-direction: column;
    align-items:flex-start;
    position: static;
    margin: 12px auto 0 auto;
    width: 752px;
    height: 56px;
    border-radius: 8px;
    left: 0px;
    top: 0px;
    background: rgba(255,255,255,0.16);
    padding: 0 14px;
}

::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.imagem_circulo {
  display: flex;
  width:50px;
  height:50px;
}

.avatar_usuario {
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
